.vs/
src/SMCodesRenderEngine/out/build/x64-debug/
src/SMCodesRenderEngine/out/build/x64-release/
src/SMCodesRenderEngine/out/build/x86-debug/
src/SMCodesRenderEngine/out/build/x86-release/
.idea/
cmake-build-debug/

src/RayTraceThis.Net/RayTraceThis.Net.WebApi/appsettings.Development.json
src/RayTraceThis.Net/RayTraceThis.Net.WebApi/bin
src/RayTraceThis.Net/RayTraceThis.Net.WebApi/obj
src/RayTraceThis.Net/RayTraceThis.Net.Identity/obj
src/RayTraceThis.Net/RayTraceThis.Net.Identity/bin
src/RayTraceThis.Net/RayTraceThis.Net.Core/obj
src/RayTraceThis.Net/RayTraceThis.Net.Core/bin
